:host {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.container {
  padding: 40px 20px;
}

.requests-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
