:host {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.container {
  padding: 40px 20px;
  max-width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

textarea {
  resize: vertical;
}
