.request-card {
	display: block;
	text-decoration: none;
	color: inherit;
}

.description {
	margin: 10px 0;
	color: #555;
}

.meta {
	display: flex;
	justify-content: space-between;
	color: #777;
}

.status {
	font-weight: 600;
}

